body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-left: 15px;
    font-family: Arial, sans-serif;
    font-size: larger;
}

.image-container {
    margin-top: 80px; /* Adjust the margin-top value to provide spacing between the navbar and the image */
    position: relative;
    overflow: hidden;
}

.img-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Set the aspect ratio (height:width) of the image container */
}

.img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 576px) {
    .img-container {
        padding-bottom: 100vh; /* Set the full-screen height for mobile */
        width: 99%; /* Adjust the width to be 99% for a slightly narrower half picture */
    }
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.container {
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

#services {
    margin-top: -17px; /* Adjust the negative margin-top value to reduce spacing between sections */
    min-height: calc(100vh - 80px); /* Set a minimum height to ensure the section fills the viewport */
  }
  
  @media (max-width: 576px) {
    #services {
      margin-top: -17px; /* Adjust the negative margin-top value to reduce spacing between sections */
      min-height: calc(100vh - 80px); /* Set a minimum height to ensure the section fills the viewport */
      height: auto !important; /* Change the height to auto to allow the content to expand vertically */
      padding-bottom: 50px; /* Add some bottom padding to create spacing between sections */
    }
  }

#contact {
    margin-top: -17px; /* Adjust the negative margin-top value to reduce spacing between sections */
    height: auto; /* Change the height to auto to allow the content to expand vertically */
}



  
